.button {
    background-color: lightpink !important;
    border: 0;
    padding: 0;
    margin: 0;
    color: black;
    transition: transform 0.3s ease-in-out;

}

.button:hover {
    background-color: deeppink !important;
    border: 0;
    transform: scale(1.1);

}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blink 1s infinite;
}

.speaker {
    background-color: lightpink !important;
    border: 0;

}

.speaker:hover {
    background-color: hotpink !important;
    border: 0
}

.edit {
    padding: 6px;
    background-color: lightpink !important;
    border: 0;
    transition: transform 0.3s ease-in-out;

}

.edit:hover {
    padding: 6px;
    border: 0;
    transform: scale(1.3);
}

.normalButton {
    transition: transform 0.3s ease-in-out;

}

.normalButton:hover {
    transform: scale(1.1);
}

.logoutButton {
    background-color: white !important;
    border: 0;
    padding: 0;
    margin: 0;
    color: black;
    transition: transform 0.3s ease-in-out;

}

.logoutButton:hover {
    border: 0;
    transform: scale(1.1);

}
